/venv
/build/
/dist/
/libra_core.egg-info/
*.pyc
*.swp
client.mnemonic
ignore/
recover
__pycache__
/libra
violas-dex-core
pypay.ini
*.wallet
pypay.tokenmodel
pypay.addrbookmodel
pypay/qml/icons/qr_*.png
.idea/
*.spec

qml/.DS_Store

.venv/
